 body {
  background-color: #E7F6F2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}
.info {
  color: red;
}
main-sesion{
  border: 2px;
  width: 50%;
  height: 50%;
}