.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;  
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
.icono{
  width: 50%;
  max-width: 330px;
  padding: 0px;
  margin: 0;
}
element.style {
  height: 24px;
}

form.example input[type=search] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid #fefefe;
  float: left;
  width: 300px;
  background: #fefefe;
}


form.example button {
  float: left;
  width: 40px;
  padding: 5px;
  background: #fefefe;
  font-size: 17px;
  border: 1px solid #fefefe ;
  cursor: pointer;
}
#catID{
  border: 3px solid rgba(0, 0, 0, .2);
  padding: 8px;

}
#cont{
  float: right;
  width: 40%;

}

.product-small-img img{
  width: 100%; 
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 8px;
  margin: 5px 5px 5px;
  cursor: pointer;
}
.product-small-img{
width: 8%;
display: flex;
}
.referencias{
  font: weight;
}
#product-rel{
width: 100%;
height: 50vh;
}
.name-img{
  text-align: center;
border: 2px solid rgba(0, 0, 0, .2);
padding: 8px;
margin: 5px 5px 5px;
width: 15%;
float: left;
}
.img-pRel{
width: 50%;
}
.name{
  font-size: 15px;
}
#dropdownMenuButton1{
  background-color: #212529!important;
}
.slider{
  margin: 50px auto;
}
.imagen-box{
  width: 600px;
  height: 400px;
}
.slider-img{
  width: 100%;
}
.btn1{
  border: none;
  outline: none;
  background: #888;
  padding: 10px 30px;
  font-size: 20px;
  color: #ddd;
  cursor: pointer;
  margin: 10px auto;
}
.btn:hover{
  background: #111;
}
.foto-grande{
  display: flex;
  padding-right: 20px;
}
.foto-grande > div { 
  flex: 1; 
}

#imgBox {
  width: 100%;
}
main{
  padding: 40px;
  }
#agregar{
max-width: 400px;
}
#item{
max-width: 400px;
}
.boton{
  border: none;
  background-color: #fff;
  font-size: 30px;
  color: #0087F7;
}