 body {
  background-color: #E7F6F2;
  padding: 5%;
}
.info {
  color: red;
}
#main-sesion{
  border: 2px solid black;
  width: 50%;
  height: 50%;
  margin: auto;
}
.perfil{
  text-align: center;
}
.google-text{
  text-align: center;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
.email{
  padding: 10px;
}
.password{
  padding: 10px;
}

